# Get Data

In [1]:
#import libraries
import requests
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim

In [2]:
#get info from wikipedia
wikipedia_link='https://en.wikipedia.org/wiki/List_of_metropolitan_areas_by_population'
raw_page = requests.get(wikipedia_link)
page = raw_page.text
#print(page)

In [3]:
#Read info from HTML table that contains 'Postcode'
match = 'Rank'
dfArray = pd.read_html(page,match)
#First element of array is the dataset of interest
df=dfArray[0]
#df.head()

In [4]:
#Process the dataframe
df_Metro = df.drop(columns = ['Rank','Official population','Year'])
#Add latitude and longitude columns
df_Metro=pd.concat([df_Metro,pd.DataFrame(columns=['Latitude','Longitude'])], sort=False)
df_Metro.head()

  Metropolitan      Country Continent Latitude Longitude
0        Tokyo        Japan      Asia      NaN       NaN
1        Delhi        India      Asia      NaN       NaN
2     Shanghai        China      Asia      NaN       NaN
3      Jakarta    Indonesia      Asia      NaN       NaN
4        Seoul  South Korea      Asia      NaN       NaN

In [5]:
#Update latitude and longitude for each Metropolitan area
geolocator = Nominatim(user_agent="tor_explorer")

#Go through each row
for index, row in df_Metro.iterrows():
    location = geolocator.geocode(row['Metropolitan'] +', '+ row['Country'])
    if location != None:
        row['Latitude'] = location.latitude
        row['Longitude'] = location.longitude
df_Metro.head()

  Metropolitan      Country Continent Latitude Longitude
0        Tokyo        Japan      Asia  35.6828   139.759
1        Delhi        India      Asia  28.6517   77.2219
2     Shanghai        China      Asia  31.2323   121.469
3      Jakarta    Indonesia      Asia -6.17539   106.827
4        Seoul  South Korea      Asia  37.5667   126.978

In [6]:
#See if any areas were not located
df_nan = df_Metro[df_Metro['Latitude'].isna()]
nan_index = df_nan.index
df_nan

,Metropolitan,Country,Continent,Latitude,Longitude
15,Keihanshin (Kyoto-Osaka-Kobe),Japan,Asia,NaN,NaN
47,"Washington, D.C. - Baltimore",United States,North America,NaN,NaN
64,Hong Kong,CHN,Asia,NaN,NaN
96,San Francisco-Oakland-Hayward,United States,North America,NaN,NaN

In [7]:
#Fix these issues
df_Metro.iloc[15, 0] = 'Kyoto'
df_Metro.iloc[47, 0] = 'Washington, D.C.'
df_Metro.iloc[64, 1] = 'China'
df_Metro.iloc[96, 0] = 'San Francisco'

In [8]:
#Try again
for i in nan_index:
        location = geolocator.geocode(df_Metro.iloc[i, 0] +', '+ df_Metro.iloc[i, 1])
        if location != None:
            df_Metro.iloc[i, 3] = location.latitude
            df_Metro.iloc[i, 4] = location.longitude

In [9]:
#Check to see if errors were resolved
df_Metro[df_Metro['Latitude'].isna()]

Empty DataFrame
Columns: [Metropolitan, Country, Continent, Latitude, Longitude]
Index: []

In [10]:
df_Metro

,Metropolitan,Country,Continent,Latitude,Longitude
0,Tokyo,Japan,Asia,35.6828,139.759
1,Delhi,India,Asia,28.6517,77.2219
2,Shanghai,China,Asia,31.2323,121.469
3,Jakarta,Indonesia,Asia,-6.17539,106.827
4,Seoul,South Korea,Asia,37.5667,126.978
5,Guangzhou,China,Asia,23.1302,113.259
6,Beijing,China,Asia,40.1906,116.412
7,Manila,Philippines,Asia,14.5906,120.98
8,New York City,United States,North America,40.7127,-74.006
9,Shenzhen,China,Asia,22.5446,114.055
10,Mexico City,Mexico,North America,19.4326,-99.1333
11,São Paulo,Brazil,South America,-23.5507,-46.6334
12,Lagos,Nigeria,Africa,6.45506,3.39418
13,Mumbai,India,Asia,18.9388,72.8353
14,Cairo,Egypt,Africa,30.0488,31.2437
15,Kyoto,Japan,Asia,35.021,135.756
16,Wuhan,China,Asia,30.5951,114.3
17,Los Angeles,United States,North America,34.0537,-118.243
18,Chengdu,China,Asia,30.6624,104.063
19,Dhaka,Bangladesh,Asia,23.7594,90.3788
20,Chongqing,China,Asia,29.5586,106.549
21,Karachi,Pakistan,Asia,25.1447,67.1848
22,Moscow,Russia,Europe,55.7504,37.6175
23,Tianjin,China,Asia,39.3033,117.416
24,Istanbul,Turkey,Europe,41.0096,28.9652
25,Bangkok,Thailand,Asia,13.7539,100.816
26,Kolkata,India,Asia,22.5677,88.3476
27,Tehran,Iran,Asia,35.7006,51.4014
28,London,United Kingdom,Europe,51.5073,-0.127647
29,Hangzhou,China,Asia,30.249,120.205
...,...,...,...,...,...
70,Miami,United States,North America,25.7743,-80.1937
71,Santiago,Chile,South America,-33.4378,-70.6504
72,Atlanta,United States,North America,33.7491,-84.3902
73,Madrid,Spain,Europe,40.4167,-3.70358
74,Luanda,Angola,Africa,-8.82727,13.244
75,Toronto,Canada,North America,43.654,-79.3872
76,Ahmedabad,India,Asia,23.0216,72.5797
77,Saint Petersburg,Russia,Europe,59.9387,30.3162
78,Berlin/Brandenburg,Germany,Europe,52.3734,13.5113
79,Munich,Germany,Europe,48.1371,11.5754
80,Belo Horizonte,Brazil,South America,-19.9227,-43.9451
81,Kanpur,India,Asia,26.4609,80.3218
82,Frankfurt Rhine-Main,Germany,Europe,51.2193,6.78926
83,Singapore,Singapore,Asia,1.34086,103.83
84,Barcelona,Spain,Europe,41.3829,2.17743
85,Ankara,Turkey,Asia,39.9208,32.8541
86,Detroit,United States,North America,42.3316,-83.0466
87,Caracas,Venezuela,South America,10.5061,-66.9146
88,Dubai-Sharjah-Ajman,United Arab Emirates,Asia,25.2356,55.2967
89,Stuttgart,Germany,Europe,48.7784,9.18001
90,Hamburg,Germany,Europe,53.5503,10.0007
91,Sydney,Australia,Oceania,-33.8548,151.216
92,Guadalajara,Mexico,North America,20.672,-103.338
93,Alexandria,Egypt,Africa,31.199,29.8944
94,Seattle,United States,North America,47.6038,-122.33
95,Phoenix,United States,North America,33.4486,-112.077
96,San Francisco,United States,North America,37.7793,-122.419
97,Melbourne,Australia,Oceania,-37.8142,144.963
98,Monterrey,Mexico,North America,25.6398,-100.293
99,Khartoum,Sudan,Africa,15.5933,32.5356

In [12]:
#Save dataframe to a json file
df_Metro.to_json(r'MetroData')